<div class="users-show-container">
  <div class="users-top-container">
    <div class="users-show-title"><%=@user.name%></div>
  </div>
  <div class="portfolio-container">
    <div class="users-show-image-container">
      <%if @user.image.attached?%>
        <div class="users-show-image-div"><%= image_tag(@user.image, class: "users-show-image")%></div>
      <%else%>
        <div class="users-show-image-div"><%= gravatar_for @user, size: 100 %></div>
      <%end%>
    </div>
    <div class="about-user-container">
      <div class="margin-top-users-show profession-container">
        <div class="bold">Profession</div>
        <div class="about-user"><%=@user.profession%></div>
      </div>
      <div class="margin-top-users-show skills-container">
        <div class="bold">Skills</div>
        <div class="about-user"><%=@user.skills%></div>
      </div>
      <div class="margin-top-users-show info-user-container">
        <div class="bold">About</div>
        <div class="about-user"><%=@user.about%></div>
      </div>
      <div class="logos-container">
        <%if @user.facebook%>
          <div><a href="<%=@user.facebook%>"><img class="logo-facebook" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/facebook.jpg?raw=true"></a></div>
        <%end%>
        <%if @user.instagram%>
          <div><a href="<%=@user.instagram%>"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/instagram.jpg?raw=true"/></a></div>
        <%end%>
        <%if @user.youtube%>
          <div><a href="<%=@user.youtube%>"><img class="logo" height="35px" width="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/youtube.jpg?raw=true"></a></div>
        <%end%>
        <%if @user.twitter%>
          <div><a href="<%=@user.twitter%>"><img class="logo" height="35px" width="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/twitter.jpg?raw=true"/></a></div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="toggle-bar">
    <div class="left-toggle">Your Activities</div>
    <div class="upcoming-activities-toggle">Your Upcoming Activities</div>
    <div class="right-toggle">Your Rentals</div>
    <div class="rented-items-toggle">Your Rented Items</div>
  </div>
  <!-- Activities card -->
  <%= render "layouts/users_show_activity_card", activities: @activities%>
  <%= render "layouts/users_show_upcoming_activity_card", activities: @upcoming_activities%>
  <!-- Ratings card -->
  <%= render "layouts/user_show_rental_card", rentals: @rentals%>
  <%= render "layouts/users_show_rented_items_card", rentals: @rented_items%>
  <%= render "layouts/new_activityTwo_form", activity: @activity%>
  <%= render "layouts/new_rental_form", rental: @rental%>
</div>
<%= render "layouts/javascript_user_show"%>
