<div class="users-show-container">
  <div class="users-top-container">
    <div class="users-show-title"><%=@user.name%></div>
  </div>
  <div class="portfolio-container">
    <div class="users-show-image-container">
      <%if @user.image.attached?%>
        <div class="users-show-image-div"><%= image_tag(@user.image, class: "users-show-image")%></div>
      <%else%>
        <div class="users-show-image-div"><%= gravatar_for @user, size: 100 %></div>
      <%end%>
    </div>
    <div class="about-user-container">
      <div class="margin-top-users-show profession-container">
        <div class="bold">Professional Talent</div>
        <div class="about-user"><%=@user.profession%></div>
      </div>
      <div class="margin-top-users-show skills-container">
        <div class="bold">Location</div>
        <div class="about-user"><%=@user.show_location%></div>
      </div>
      <div class="margin-top-users-show info-user-container">
        <div class="bold">About</div>
        <div class="about-user"><%=@user.about%></div>
      </div>
      <div class="logos-container">
        <%if @user.facebook == ""%>
          <div style="cursor:pointer"><img class="logo-facebook" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_Facebook_1298738.png?raw=true"></div>
        <%else%>
          <div><a target="_blank" rel="noopener noreferrer" href="<%=@user.facebook%>"><img class="logo-facebook" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_Facebook_1298738.png?raw=true"></a></div>
        <%end%>
        <%if @user.instagram == ""%>
          <div style="cursor:pointer"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_Instagram_1298747.png?raw=true"></div>
        <%else%>
          <div><a target="_blank" rel="noopener noreferrer" href="<%=@user.instagram%>"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_Instagram_1298747.png?raw=true"></a></div>
        <%end%>
        <%if @user.youtube == ""%>
          <div style="cursor:pointer"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_social_media_applications_2-youtube_4102578.png?raw=true"></div>
        <%else%>
          <div><a target="_blank" rel="noopener noreferrer" href="<%=@user.youtube%>"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_social_media_applications_2-youtube_4102578.png?raw=true"></a></div>
        <%end%>
        <%if @user.twitter == ""%>
          <div style="cursor:pointer"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_social_media_applications_6-twitter_4102580.png?raw=true"></div>
        <%else%>
          <div><a target="_blank" rel="noopener noreferrer" href="<%=@user.twitter%>"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_social_media_applications_6-twitter_4102580.png?raw=true"></a></div>
        <%end%>
        <%if @user.pinterest == ""%>
          <div style="cursor:pointer"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_Pinterest_1298754.png?raw=true"></div>
        <%else%>
          <div><a target="_blank" rel="noopener noreferrer" href="<%=@user.twitter%>"><img class="logo" width="35px" height="35px" src="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/iconfinder_Pinterest_1298754.png?raw=true"></a></div>
        <%end%>
      </div>
    </div>
  </div>
  <div class="toggle-bar">
    <%if current_user && current_user.id == @user.id%>
      <div class="left-toggle">Your Experiences</div>
    <%else%>
      <div class="left-toggle"><%=@user.name%>'s Experiences</div>
    <%end%>
    <%if current_user && current_user.id == @user.id && @user.id == -1%>
      <div class="upcoming-activities-toggle">Your Services</div>
    <%end%>
  </div>
  <!-- Activities card -->
  <%= render "layouts/users_show_activity_card", activities: @activities, upcoming_activities: @upcoming_activities%>
  <%= render "layouts/users_show_services_card", services: @services, upcoming_services: @upcoming_services%>
  <%= render 'layouts/new_service_form', service: @service%>
  <!-- Ratings card -->
  <%= render "layouts/user_show_rental_card", rentals: @rentals%>
  <%= render "layouts/users_show_rented_items_card", rentals: @rented_items%>
  <%= render "layouts/second_new_activity_form", activity: @activity%>
  <%= render "layouts/new_rental_form", rental: @rental%>
</div>
<%= render "layouts/javascript_user_show"%>
