<div class="users-show-container">
  <div class="users-show-title">Hi <%=@user.name%>!</div>
  <div class="portfolio-container">
    <div class="users-show-image-container">
      <%if @user.image.attached?%>
        <div class="users-show-image-div"><%= image_tag(@user.image, class: "users-show-image")%></div>
      <%else%>
        <div class="users-show-image-div"><%= gravatar_for @user, size: 100 %></div>
      <%end%>
    </div>
    <div class="about-user-container">
      <div class="margin-top-users-show profession-container">
        <div class="bold">Profession</div>
        <div class="about-user"><%=@user.profession%></div>
      </div>
      <div class="margin-top-users-show skills-container">
        <div class="bold">Skills</div>
        <div class="about-user"><%=@user.skills%></div>
      </div>
      <div class="margin-top-users-show info-user-container">
        <div class="bold">About</div>
        <div class="about-user"><%=@user.about%></div>
      </div>
      <div class="logos-container">
        <div><a href="<%=@user.facebook%>"><img class="logo" width="25px" height="25px" src="https://www.agit-theatre.org/wp-content/uploads/2018/04/facebook-logo-f-sqaure1.png"></a></div>
        <div><a href="<%=@user.instagram%>"><img class="logo" width="25px" height="25px" src="https://www.edigitalagency.com.au/wp-content/uploads/new-instagram-logo-png-transparent.png"/></a></div>
        <div><a href="<%=@user.youtube%>"><img class="logo" height="25px" width="50px" src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F181570%2Fyoutube-logo-full_color_n0rRl4c.png&w=700&op=resize"></a></div>
        <div><a href="<%=@user.pinterest%>"><img class="logo" height="25px" width="25px" src="http://www.mysocialaccounts.com/wp-content/uploads/2017/01/2000px-Pinterest_Shiny_Icon.svg_.png"/></a></div>
        <div><a href="<%=@user.twitter%>"><img class="logo" height="25px" width="25px" src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png"/></a></div>
      </div>
    </div>
  </div>
  <div class="toggle-bar">
    <div class="left-toggle">Your Activities</div>
    <div class="upcoming-activities-toggle">Your Upcoming Activities</div>
    <div class="right-toggle">Your Rentals</div>
    <div class="rented-items-toggle">Your Rented Items</div>
    <%if current_user == @user%>
      <div class="create-activity-toggle">Create Activity</div>
      <div class="create-rental-toggle">Create Rental</div>
    <%end%>
  </div>
  <!-- Activities card -->
  <%= render "layouts/users_show_activity_card", activities: @activities%>
  <%= render "layouts/users_show_upcoming_activity_card", activities: @upcoming_activities%>
  <!-- Ratings card -->
  <%= render "layouts/user_show_rental_card", rentals: @rentals%>
  <%= render "layouts/users_show_rented_items_card", rentals: @rented_items%>
  <%= render "layouts/new_activityTwo_form", activity: @activity%>
  <%= render "layouts/new_rental_form", rental: @rental%>
</div>
<%= render "layouts/javascript_user_show"%>
