<div>
  <div>BOOKED!</div>
  <br>
  <div>Here is your booking receipt. Please show this when you go to the venue.</div>
  <br>
  <div>Booking Number: <%=@service_ticket.id%></div>
  <div>Service: <%=@service.service_name%></div>
  <div>By: <%=@service.user.name%></div>
  <div>Time and Date: <%=@service_ticket.day%> - <%=@service_ticket.time%></div>
  <br>
  <div>Please ensure that you’re on time and contact us if you have any questions!</div>
  <br>
  <div>Regards,</div>
  <div>Angaea Team</div>
  <br>
  <div>Angaea Inc.,</div>
  <div>San Francisco</div>
  <div>contact@angaea.com</div>
  <div>+1(510)499-6974</div>
</div>
