<div>
  <div>BOOKED!</div>
  <br>
  <div>Here is your booking receipt. Please show this when you go to the venue.</div>
  <br>
  <div>Spots Purchased: <%=@spots%></div>
  <div>Service: <%=@activity.activity_name%></div>
  <div>By: <%=@activity.user.name%></div>
  <div>Date and Time: <%=@activity.format_start_date%> - <%=@activity.format_end_date%></div>
  <br>
  <div>Please ensure that you’re on time and contact us if you have any questions!</div>
  <br>
  <div>Regards,</div>
  <div>Angaea Team</div>
  <br>
  <div>Angaea Inc.,</div>
  <div>San Francisco</div>
  <div>contact@angaea.com</div>
  <div>+1(510)499-6974</div>
</div>
