<div class="show-activities-outer-container">
  <div class="show-activities-card-container">
    <div class="show-top-activity-card">
      <!-- <img class="show-image-activity-card" src="http://www.pcraft.com/wp-content/uploads/2015/06/Jim-Delutes_Gondolas.jpg" /> -->
      <%if @rental.image.attached?%>
        <%=image_tag(@rental.image, class: "show-image-activity-card")%>
      <%end%>
      <div class="show-info-activity-card">
        <div class="show-activity-card-name"><%=@rental.rental_name%></div>
        <div class="show-activity-details-container">
          <div class="left-activity-details-container">
            <div class="show-top-margin activity-card-user">Owner <%=@rental.user.name%></div>
            <div class="show-top-margin show-activity-card-location"><%=@rental.format_location%></div>
          </div>
        </div>
        <div class="show-top-margin show-activity-card-price">$<%=@rental.cost%> Per Day</div>
      </div>
    </div>
    <div class="show-bottom-activity-card">
      <div class="show-rental-right">
        <a href="/rentals/<%=@rental.id%>/days_renting"><div class="activity-ticket"> Rent </div></a>
      </div>
    </div>
    <div class="about-activity-container">
      <div class="about-activity-show-title">About This Rental</div>
      <div class="about-activity-content-show"><%=@rental.description%> <%=" "%> <%=@rental.additional_info%></div>
    </div>
    <div class='social-share-buttons'><%= social_share_button_tag('Share Activity', :url => "https://www.angaea.com/activities/#{@rental.id}", desc: @rental.rental_name) %></div>
  </div>
  <div class="activity-show-images-container">
    <% for i in 0...@rental.images.length %>
      <div class="image-div"><%=image_tag(@rental.images[i], class: "activity-show-bottom-images")%></div>
    <% end %>
  </div>
</div>
