<div class="new-activity-ticket-container">
  <%= form_tag activity_activity_tickets_path(@activity) do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <div class="transaction-fee">
          <span>Amount Per Spot: $<%=(@activity.cost.to_f)%></span>
          <span>Spots Being Purchased: <%=@spots.spots_buying%></span>
          <span>Transaction Fee: $<%=@transFee%></span>
          <span>Total: $<%=@total%></span>
        </div>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-image='https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/the_angaea_final_symbol.png?raw=true'
            data-name='Angaea'
            data-description='Purchase Spots'
            data-amount="<%=((@activity.cost.to_i*100).to_f*1.05)%>"
            data-locale="auto"></script>
  <% end %>
</div>
