<div class="the-cals-container">
  <%= render "calendars/calendar_partials/cal", month_title: "January", month: "jan", month_id: 0%>
  <%= render "calendars/calendar_partials/cal", month_title: "February", month: "feb", month_id: 1%>
  <%= render "calendars/calendar_partials/cal", month_title: "March", month: "mar", month_id: 2%>
  <%= render "calendars/calendar_partials/cal", month_title: "April", month: "apr", month_id: 3%>
  <%= render "calendars/calendar_partials/cal", month_title: "May", month: "may", month_id: 4%>
  <%= render "calendars/calendar_partials/cal", month_title: "June", month: "jun", month_id: 5%>
  <%= render "calendars/calendar_partials/cal", month_title: "July", month: "jul", month_id: 6%>
  <%= render "calendars/calendar_partials/cal", month_title: "August", month: "aug", month_id: 7%>
  <%= render "calendars/calendar_partials/cal", month_title: "September", month: "sep", month_id: 8%>
  <%= render "calendars/calendar_partials/cal", month_title: "October", month: "oct", month_id: 9%>
  <%= render "calendars/calendar_partials/cal", month_title: "November", month: "nov", month_id: 10%>
  <%= render "calendars/calendar_partials/cal", month_title: "December", month: "dec", month_id: 11%>
  <%= render "calendars/calendar_partials/cal_javascript"%>
  <%= render "calendars/calendar_partials/appointments_javascript"%>
</div>
