<div class="the-cals-container">
  <%= render "calendars/calendar_partials/january_cal", month_title: "January", month: "jan", month_id: 0, start_day: "tue"%>
  <%= render "calendars/calendar_partials/february_cal", month_title: "February", month: "feb", month_id: 1, start_day: "fri"%>
  <%= render "calendars/calendar_partials/march_cal", month_title: "March", month: "mar", month_id: 2, start_day: "fri"%>
  <%= render "calendars/calendar_partials/april_cal", month_title: "April", month: "apr", month_id: 3, start_day: "mon"%>
  <%= render "calendars/calendar_partials/may_cal", month_title: "May", month: "may", month_id: 4, start_day: "wed"%>
  <%= render "calendars/calendar_partials/june_cal", month_title: "June", month: "jun", month_id: 5, start_day: "sat"%>
  <%= render "calendars/calendar_partials/cal", month_title: "July", month: "jul", month_id: 6, start_day: "mon"%>
  <%= render "calendars/calendar_partials/cal", month_title: "August", month: "aug", month_id: 7, start_day: "thu"%>
  <%= render "calendars/calendar_partials/cal", month_title: "September", month: "sep", month_id: 8, start_day: "sun"%>
  <%= render "calendars/calendar_partials/cal", month_title: "October", month: "oct", month_id: 9, start_day: "tue"%>
  <%= render "calendars/calendar_partials/cal", month_title: "November", month: "nov", month_id: 10, start_day: "fri"%>
  <%= render "calendars/calendar_partials/cal", month_title: "December", month: "dec", month_id: 11, start_day: "sun"%>
  <%= render "calendars/calendar_partials/cal_javascript"%>
  <%= render "calendars/calendar_partials/appointments_javascript"%>
</div>
