<div class="show-activities-outer-container">
  <div class="show-activities-card-container">
    <div class="show-top-activity-card">
      <!-- <img class="show-image-activity-card" src="http://www.pcraft.com/wp-content/uploads/2015/06/Jim-Delutes_Gondolas.jpg" /> -->
      <%if @activity.image.attached?%>
        <%=image_tag(@activity.image, class: "show-image-activity-card")%>
      <%end%>
      <div class="show-info-activity-card">
        <div class="show-activity-card-name"><%=@activity.format_activity_name%></div>
        <div class="show-activity-details-container">
          <div class="show-top-margin show-activity-card-date"><%=@activity.format_start_date%> - <%=@activity.format_end_date%></div>
          <div class="show-top-margin show-activity-card-location"><%=@activity.format_location%></div>
          <div class="show-top-margin activity-card-user">By <%=@activity.user.name%></div>
          <div class="show-top-margin show-activity-card-price">$<%=@activity.cost%></div>
          <%if @activity.ratings.any?%>
            <div class="show-activity-stars-container">
              <%@activity.get_average_rating.times do |num|%>
                <div class="show-activity-star"><img width="25px" height="25px" src="https://github.com/hennyhandles/angaea/blob/master/app/assets/images/star.png?raw=true"/></div>
              <%end%>
              <div class="show-activity-number-ratings"><a href="#ratings">reviews <%=@activity.ratings.length%></a></div>
            </div>
          <%end%>
        </div>
        <div class="show-activity-capacity"><%=@activity.capacity.to_i - @activity.attendees.length%> Tickets Left</div>
      </div>
    </div>
    <div class="show-bottom-activity-card">
      <div class="show-activity-tags">
        <div class="show-activity-tag-title">Tags</div>
        <%@activity.categories.each do |category|%>
          <div class="show-activity-category"><a href="<%=category_path(category)%>"><%=category.category_name%></a></div>
        <%end%>
      </div>
      <div class="show-activity-right">
        <%if (@activity.capacity.to_i - @activity.attendees.length <= 0)%>
          <div class="activity-ticket"> No Tickets Left </div>
        <%else%>
          <a href="/activities/<%=@activity.id%>/activity_tickets/new"><div class="activity-ticket"> Purchase Ticket </div></a>
        <%end%>
      </div>
    </div>
  </div>
  <div class="about-activity-container">
    <div class="about-activity-show-title">About This Activity</div>
    <div class="about-activity-content-show"><%=@activity.content%> <%=" "%> <%=@activity.additional_info%></div>
  </div>
  <%if @activity.ratings.any?%>
  <%@activity.ratings.each do |rating|%>
  <div class="show-activity-ratings-card">
    <div class="show-activity-stars-container">
      <%rating.stars.to_i.times do |num|%>
      <div class="show-activity-star"><img width="25px" height="25px" src="https://github.com/hennyhandles/angaea/blob/master/app/assets/images/star.png?raw=true"/></div>
      <%end%>
      <div class="show-activity-number-ratings">"<%=rating.comment.split(".")[0]%>"</div>
    </div>
    <div class="activity-show-user-rating"><%= gravatar_for rating.user, size: 25, class: "gravatar space-right"%> <div class="pad-left-username"><%=rating.user.name%></div></div>
    <div class="show-activity-rating-content"><%=rating.comment%></div>
  </div>
  <%end%>
  <%end%>
  <div id="ratings" class="show-activity-ratings-container">
  </div>
</div>
