<div class="dashboard-container">
  <div class="dash-your-activities-container">
    <div class="dash-your-activities-text">See Who's Attending Your Activities</div>
    <%if @activities.length > 0%>
      <%@activities.each do |activity|%>
        <a href="/activities/<%=activity.id%>/<%=@user.id%>"><%=activity.activity_name%></a>
      <%end%>
    <%else%>
      <div class="dash-no-activities">No activities. Go make some!</div>
    <%end%>
  </div>
</div>

<div class="home-container">
  <%= render 'layouts/home_activities_card', classCategory: "dance-class", category: @dance, activities: @dance_activities%>
  <%= render 'layouts/home_activities_card', classCategory: "music-class", category: @music, activities: @music_activities%>
  <%= render 'layouts/home_activities_card', classCategory: "theatre-class", category: @theatre, activities: @theatre_activities%>
  <%= render 'layouts/home_activities_card', classCategory: "comedy-class", category: @comedy, activities: @comedy_activities%>
  <%= render 'layouts/home_activities_card', classCategory: "food-class", category: @food, activities: @food_activities%>
  <%= render 'layouts/home_activities_card', classCategory: "art-class", category: @art, activities: @art_activities%>
</div>
