<div class="edit-activity-form-container">
  <h1>Update Yur Service</h1>
  <form enctype="multipart/form-data" class="date-class create-activity-form-css" action="<%= activity_path(activity) %>" method="post">
    <input class="" type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
    <input type="hidden" name="_method" value="patch">
    <label>
      <div style="display:flex"><div>Activity Name</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[activity_name]" value="<%=activity.activity_name%>">
    </label>

    <label>
      <div style="display:flex"><div>Description</div><div style="color:red"> *</div></div>
      <textarea class="" name="activity[content]"><%=activity.content%></textarea>
    </label>

    <label>
      <div style="display:flex"><div>What to Bring</div><div style="color:red"> *</div></div>
      <textarea class="" type="text" name="activity[additional_info]"><%=activity.additional_info%></textarea>
    </label>

    <label>
      Contact Number
      <input class="" type="text" name="activity[contact_number]" value="<%=activity.contact_number%>">
    </label>

    <label>
      <div style="display:flex"><div>Contact Email</div><div style="color:red"> *</div></div>
      <input class="" type="email" name="activity[contact_email]" value="<%=activity.contact_email%>">
    </label>

    <label>
      <div style="display:flex"><div>Price</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[cost]" value="<%=activity.cost%>">
    </label>

    <label>
      <div style="display:flex"><div>Max Number of Attendees</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[capacity]" value="<%=activity.capacity%>">
    </label>

    <label>
      <div style="display:flex"><div>Address 1</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[addressLN1]" value="<%=activity.addressLN1%>">
    </label>

    <label>
      Address 2
      <input class="" type="text" name="activity[addressLN2]" value="<%=activity.addressLN2%>">
    </label>

    <label>
      <div style="display:flex"><div>City</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[city]" value="<%=activity.city%>">
    </label>

    <label>
      <div style="display:flex"><div>State</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[state]" value="<%=activity.state%>">
    </label>

    <label>
      <div style="display:flex"><div>Zipcode</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="activity[zip]" value="<%=activity.zip%>">
    </label>

    <label>
      <div style="display:flex"><div>Start Date - <%=activity.format_start_date%></div><div style="color:red"> *</div></div>
      <div class="start-datetime start-datetime-input-container datetime-input-container">
        <div class="start-datetime datetime-input datetime-day"><%=activity.start_date.strftime("%m")%></div>
        <div class="start-datetime datetime-input datetime-divider">/</div>
        <div class="start-datetime datetime-input datetime-month"><%=activity.start_date.strftime("%d")%></div>
        <div class="start-datetime datetime-input datetime-divider">/</div>
        <div class="start-datetime datetime-input datetime-year"><%=activity.start_date.strftime("%Y")%></div>
        <div class="start-datetime datetime-input datetime-hour"> <%=activity.start_date.strftime("%l")%></div>
        <div class="start-datetime datetime-input datetime-divider">:</div>
        <div class="start-datetime datetime-input datetime-minute"><%=activity.start_date.strftime("%M")%></div>
        <div class="start-datetime datetime-input datetime-ampm"><%=activity.start_date.strftime("%p")%></div>
      </div>
      <input class="start-datetime-value start-date" type="hidden" name="activity[start_date]" value="">
    </label>
    <!-- 17 Jan 2019 20:00:51 UTC +00:00 -->

    <label>
      <div style="display:flex"><div>End Date - <%=activity.format_end_date%></div><div style="color:red"> *</div></div>
      <div class="end-datetime end-datetime-input-container datetime-input-container">
        <div class="end-datetime datetime-input end-datetime-day"><%=activity.end_date.strftime("%m")%></div>
        <div class="end-datetime datetime-input end-datetime-divider">/</div>
        <div class="end-datetime datetime-input end-datetime-month"><%=activity.end_date.strftime("%d")%></div>
        <div class="end-datetime datetime-input end-datetime-divider">/</div>
        <div class="end-datetime datetime-input end-datetime-year"><%=activity.end_date.strftime("%Y")%></div>
        <div class="end-datetime datetime-input end-datetime-hour"><%=activity.end_date.strftime("%l")%></div>
        <div class="end-datetime datetime-input end-datetime-divider">:</div>
        <div class="end-datetime datetime-input end-datetime-minute"><%=activity.end_date.strftime("%M")%></div>
        <div class="end-datetime datetime-input end-datetime-ampm"><%=activity.end_date.strftime("%p")%></div>
      </div>
      <input class="end-datetime-value end-date" type="hidden" name="activity[end_date]" value="">
    </label>

    <%if activity.recurring_schedule == "weekly"%>
      <label>
        Reucrring
        <select name="activity[recurring_schedule]">
          <option value="weekly">Weekly</option>
          <option value="bi-weekly">Bi-Weekly</option>
          <option value="">Non-Recurring</option>
        </select>
      </label>
    <%elsif activity.recurring_schedule == "bi-weekly"%>
      <label>
        Reucrring
        <select name="activity[recurring_schedule]">
          <option value="bi-weekly">Bi-Weekly</option>
          <option value="weekly">Weekly</option>
          <option value="">Non-Recurring</option>
        </select>
      </label>
    <%else%>
      <label>
        Reucrring
        <select name="activity[recurring_schedule]">
          <option value="">Non-Recurring</option>
          <option value="weekly">Weekly</option>
          <option value="bi-weekly">Bi-Weekly</option>
        </select>
      </label>
    <%end%>

    <label>
      Main Images
      <input class="" type="file" name="activity[image]" value="" multiple="multiple">
    </label>

    <label>
      Images - Please select all images at one
      <input class="" type="file" name="activity[images][]" placeholder="For multiple images please select all images at once" value="" multiple="multiple">
    </label>

    <input class="btn" type="submit" value="Update Your Service">
  </form>
  <%= link_to "Delete Service" , activity_path(activity), method: :delete, class: "delete-btn"%>
  <%= render "layouts/datetime_javascript"%>
  <%= render "layouts/end_datetime_javascript"%>
</div>
