<div class="second-home-card-holder <%=margTop%>">
  <%if activity.image.attached?%>
    <a class="manage-height" href="/activities/<%=activity.id%>"><img class="second-home-image" src="<%=url_for(activity.image)%>"/></a>
  <%end%>
  <div class="second-home-bottom-card">
    <div class="second-home-card-name"><%=activity.activity_name.upcase%></div>
    <div class="second-home-card-date"><%=activity.format_start_date.split(",")[1]%></div>
    <div class="second-home-card-location"><%=activity.format_location.split(",")[0]%></div>
    <div class="second-home-card-cost">By <a class="underline-username" href="/users/<%=activity.user.id%>"> <%=activity.user.name%></a></div>
    <%if current_user && current_user == activity.user%>
      <a class="activity-edit-link" href="<%=edit_activity_path(activity)%>">edit</a>
    <%end%>
    <%if activity.is_attending[current_user.id]%>
      <a class="activity-edit-link" href="/activities/<%=activity.id%>/chatrooms/<%=activity.chatroom.id%>">Chatroom</a>
    <%end%>
  </div>
</div>
