<div class="<%=classCategory%> home-activities-outer-container">
  <a href="<%=category_path(category.id)%>" class="home-category"><%=category.category_name.upcase%></a>
  <div class="home-activities-container">
    <%activities.each do |activity|%>
    <%if activity.image.attached?%>
        <div class="home-activities-card-container">
            <a href="/activities/<%=activity.id%>"><%= image_tag(activity.image, class: "home-top-activity-card")%></a>
          <div class="home-bottom-activity-card">
            <div class="home-activity-card-name"><%=activity.format_activity_name%></div>
            <div class="home-activity-details-container">
              <%if activity.bi_weekly_recurring == "weekly"%>
                <div class="home-top-margin home-activity-card-date">Every <%=activity.show_full_start_day%> At <%=activity.show_start_time%></div>
              <%else%>
                <div class="home-top-margin home-activity-card-date"><%=activity.format_start_date%></div>
              <%end%>
              <div class="home-top-margin home-activity-card-location"><%=activity.format_location%></div>
              <div class="home-top-margin activity-card-user">By <a class="underline-that" href="/users/<%=activity.user.id%>"><%=activity.user.name%></a></div>
              <div class="home-top-margin home-activity-card-price">$<%=activity.cost%></div>
            </div>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
  <div class="view-more-div"><a class="view-more" href="<%=category_path(category.id)%>">View More</a></div>
</div>
