<div class="new-footer-container">
  <div class="new-footer-left-container">
    <%= link_to "Angaea", root_path, class: "logo-footer" %>
  </div>
  <div id="new-footer-right-container">
    <%= link_to "Activities", root_path, class: "footer-color"%>
    <%= link_to "Dashboard", dashboard_path, class: "footer-color"%>
    <%= link_to "About", "/about", class: "footer-color"%>
    <%= link_to "Contact", "/contact", class: "footer-color"%>
    <% if logged_in? %>
      <%= link_to "Portfolio", user_path(current_user), class: "footer-color"%>
    <%end%>
  </div>
</div>
