<div class="show-activities-outer-container">

  <div class="second-show-activities-mid-container">
    <div class="second-show-activities-mid-right-container"><%= render "layouts/second_resize_image", activity: activity%></div>
    <div class="second-show-activities-mid-left-container">
      <div class="second-show-activities-header"><%=activity.activity_name%></div>
      <div class="second-activities-show-by"><div class="boldy-by">By:</div> <a class="make-me-pretty" href="/users/<%=activity.user.id%>"><%=activity.user.name%></a></div>
      <div class="second-activities-show-cost"><div class="boldy-by">Price:</div> $<%=activity.cost%></div>
      <div class="second-activities-show-about">ABOUT:</div>
      <div class="second-activities-show-about-text"><%=activity.content%></div>
    </div>
    <div class='social-share-buttons'>
      <!-- <div class="share-with-friends">Share With Friends!</div> -->
      <%= social_share_button_tag('Share Activity', :url => "https://www.angaea.com/activities/#{activity.id}", desc: activity.activity_name) %>
    </div>
  </div>

  <div class="second-show-activities-lower-mid-container">
    <div class="second-show-activities-where-container">
      <div class="second-show-activities-where-text">Where is it?</div>
      <div class="second-show-activities-city"><%=@activity.format_location%></div>
    </div>
    <div class="second-show-activities-when-container">
      <div class="second-show-activities-when-text">When is it?</div>
      <div class="second-show-activities-date"><%=activity.show_start_day%></div>
      <div class="second-show-activities-time"><%=activity.show_start_time%> to <%=activity.show_end_time%></div>
    </div>
    <div class="second-show-activities-bring-container">
      <div class="second-show-activitites-bring-text">What to Bring</div>
      <div class="second-show-activitites-bring"><%=activity.additional_info%></div>
    </div>
  </div>

  <div class="second-show-activities-spots-container">
    <%if (activity.capacity.to_i - activity.attendees.length <= 0)%>
      <div class="second-activity-ticket"> No Spots Left </div>
    <%else%>
      <div class="space-holder"></div>
      <a href="/activities/<%=activity.id%>/activity_tickets/new"><div class="second-activity-ticket">Book</div></a>
      <div class="second-show-activity-capacity"><%=activity.capacity.to_i - activity.attendees.length%> Spots Left</div>
    <%end%>
  </div>

  <%if activity.attendees.any?%>
    <div class="attendees-container">
        <div class="attendees-text">Attendees</div>
        <div class="attendees-cards-container">
          <%activity.attendees.each do |attendee|%>
            <div class="attendees-card">
              <div class="attendee-name"><a class="make-me-pretty" href="/users/<%=attendee.id%>"><%=attendee.name%></a></div>
              <%if attendee.image.attached?%>
              <div class="users-show-image-div"><%= image_tag(attendee.image, class: "users-show-image")%></div>
              <%else%>
              <div class="users-show-image-div"><%= gravatar_for attendee, size: 100 %></div>
              <%end%>
            </div>
          <%end%>
        </div>
    </div>
  <%end%>

  <%if activity.images.length > 0%>
    <% for i in 0...activity.images.length %>
      <%=image_tag(activity.images[i], class: "activity-show-bottom-images")%>
    <% end %>
  <%end%>
  <%if activity.images.length > 0%>
    <%=render "layouts/second_activities_show_carousel"%>
  <%end%>
  <%=render "layouts/second_largen_image"%>

</div>
