<div class="create-login-form-container">
  <h1>Your Portfolio</h1>
  <form enctype="multipart/form-data" class="create-login-form-css" action="<%= user_path(user) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>
    <input type="hidden" name="_method" value="patch"/>
    <label>
      <div style="display:flex"><div>Name</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="user[name]" value="<%=user.name%>">
    </label>

    <label>
      <div style="display:flex"><div>Email</div><div style="color:red"> *</div></div>
      <input class="" type="email" name="user[email]" value="<%=user.email%>">
    </label>

    <label>
      <div style="display:flex"><div>Address</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="user[address]" value="<%=user.address%>">
    </label>

    <label>
      <div style="display:flex"><div>City</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="user[city]" value="<%=user.city%>">
    </label>

    <label>
      <div style="display:flex"><div>State</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="user[state]" value="<%=user.state%>">
    </label>

    <label>
      <div style="display:flex"><div>Zipcode</div><div style="color:red"> *</div></div>
      <input class="" type="text" name="user[zipcode]" value="<%=user.zipcode%>">
    </label>

    <label>
      Profession
      <input class="" type="text" name="user[profession]" value="<%=user.profession%>">
    </label>

    <label>
      Skills
      <input class="" type="text" name="user[skills]" value="<%=user.skills%>">
    </label>

    <label>
      About
      <textarea class="" type="text" name="user[about]"></textarea>
    </label>

    <label>
      facebook url
      <input class="" type="text" name="user[facebook]" value="<%=user.facebook%>">
    </label>

    <label>
      instagram url
      <input class="" type="text" name="user[instagram]" value="<%=user.instagram%>">
    </label>

    <label>
      twitter url
      <input class="" type="text" name="user[twitter]" value="<%=user.twitter%>">
    </label>

    <label>
      youtube url
      <input class="" type="text" name="user[youtube]" value="<%=user.youtube%>">
    </label>

    <label>
      pinterest url
      <input class="" type="text" name="user[pinterest]" value="<%=user.pinterest%>">
    </label>

    <label>
      image
      <input class="" type="file" name="user[image]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Password</div><div style="color:red"> *</div></div>
      <input class="" type="password" name="user[password]" value="">
    </label>

    <label>
      <div style="display:flex"><div>Confirm Password</div><div style="color:red"> *</div></div>
      <input class="" type="password" name="user[password_confirmation]" value="">
    </label>

    <input class="btn btn-primary" type="submit" value="Update Information">
  </form>
  <%= link_to "Delete Account" , user_path(current_user), method: :delete, class: "red sign-up-button"%>
</div>
