<!DOCTYPE html>
<html>
  <head>
    <title>Angaea</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= action_cable_meta_tag %>
    <%= render 'layouts/shim' %>
  <link rel="shortcut icon" href="https://github.com/alexg622/angaea_heroku/blob/master/app/assets/images/the_angaea_final_symbol.png?raw=true">
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134524818-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134524818-1');
    </script>
  </head>
  <body>


   <div class="application-container">
     <%= render 'layouts/header' %>
     <% flash.each do |message_type, message| %>
       <div id="<%= message_type %>" class="alert-danger alert alert-<%= message_type %>"><%= message %></div>
     <% end %>
     <%= yield %>
   </div>
  </body>
  <%= render 'layouts/new_footer_black' %>
  <%= render "layouts/redirect_to_https"%>
</html>
